.simplebar-scrollbar:before {
	background: red;
	border-radius: 8px;
	box-shadow: 0 0 12px #ffd465, 0 0 8px #fff8c4;
	opacity: 1;
	border: 2px solid #b88816;
}

.simplebar-track.simplebar-vertical {
	background: #f8ecc4;
	border-radius: 10px;
	box-shadow: 0 0 18px #e4ca9688 inset;
	width: 13px !important;
	right: 4px;
}
