:root {
    --bg: #fef8e4;
    --titleColor: #000000;
    --borderBottom: #000000;
    --navItems: #000000;
    --border: #000000;
}

.dark {
    --bg: #2e2e33;
    --titleColor:white;
    --borderBottom: white;
    --navItems: white;
    --border: #e8e2e2;
}

html, body {
    background: var(--bg);
}

button {
    cursor: pointer;
}

button:focus {
    border: 2px solid #989191;
}
