:root {
    --bg: #fef8e4;
    /*--bg: #a2ccd4;*/
    --titleColor: #2c2b2b;
    --borderBottom: #000000;
    --navItems: #000000;
    --border: #000000;
}

.dark {
    /*--bg: #2e2e33;*/
    --bg: #0F172A;
    --titleColor:white;
    --borderBottom: white;
    --navItems: white;
    --border: #e8e2e2;
}


.pink {
    --bg: #F9EEDD;
    --navBg: #D16B7B;
    --labelBg:#F2C7D1;
    --border: #E6AAB4;
    --labelTextColor:#8B454E;
}

html, body {
    background: var(--bg);
}

button {
    cursor: pointer;
}

button:focus {
    border: 2px solid #989191;
}
